# PyCharm files (Lauren's IDE)
.idea

# IPython/Jupyter Notebook products
*.ipynb_checkpoints*

# macOS file we don't care about
.DS_Store

# aaron's python3 environment
env

# aarons sandbox
ab_sandbox

# until I hear otherwise, I don't want to store RMV source files in a repo
data/src/*.pdf
data/src/*.csv

# Website-related files
website/_site/
website/Gemfile.lock
