# PyCharm files (Lauren's IDE)
.idea

# IPython/Jupyter Notebook products
*.ipynb_checkpoints*

# macOS file we don't care about
.DS_Store

# aaron's python3 environment
env
ext_doc
nlpAI/__pycache__

# aarons sandbox
ab_sandbox
old_data
ext_doc

# until I hear otherwise, I don't want to store RMV source files in a repo
data/src/*.pdf
data/src/*.csv

# R-related files
.Rproj.user
*.Rproj
